name: Fetch Vercel URL and Trigger Perf Tests

on:
  push:
    branches:
      - main  
  pull_request:
    types: [opened, synchronize, reopened]
   # trigger ONLY when main branch receives a push

jobs:
  hyperexecute-v1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download HyperExecute CLI
        run: |
          curl -L https://downloads.lambdatest.com/hyperexecute/linux/hyperexecute -o hyperexecute
          chmod +x hyperexecute

      - name: Run HyperExecute tests for v1
        run: |
          ./hyperexecute --user ${{ secrets.LT_USER_NAME }} --key ${{ secrets.LT_ACCESS_KEY }} --config ./hyperexecute.yaml
