name: Fetch Vercel URL and Trigger Perf Tests

on:
  push:
    branches:
      - main     # trigger ONLY when main branch receives a push

jobs:
  get-url:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get Latest Vercel Deployment
        id: vercel
        run: |
          DEPLOYMENT=$(curl -s -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
            "https://api.vercel.com/v6/deployments?projectId=${{ secrets.VERCEL_PROJECT_ID }}" \
            | jq -r '.deployments[0].url')

          echo "url=https://$DEPLOYMENT" >> $GITHUB_OUTPUT

      - name: Trigger Repo B Workflow
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.REPO_B_TOKEN }}" \
            -H "Content-Type: application/json" \
            https://api.github.com/repos/devpranavbk/HyperPerf/dispatches \
            -d "{
              \"event_type\":\"perf_test_trigger\",
              \"client_payload\":{
                \"vercel_url\":\"${{ steps.vercel.outputs.url }}\",
                \"commit_sha\":\"${{ github.sha }}\",
                \"repo_full_name\":\"${{ github.repository }}\"
              }
            }"
